body{
    background-color: #000;
    font-family: sans-serif;
    text-align: center;
}
.first{
    background-color: blanchedalmond;
    border-radius: 1rem;
    border-bottom: 3px solid blue;
    border-left: 5px solid blue;
    text-shadow: navy 3px 2px 2px;
    padding: 25px 45px;
    color: blue;
    width: 85%;
    height: 3000px;
    margin: 15px 35px;
}
.second{
    background-color: goldenrod;
    border-radius: 1rem;
    margin-top: 35px;
    border-bottom: 3px solid blue;
    border-left: 6px solid blue;
    border-right: 3px solid blue;
    border-top: 1px solid blue;
}
.menu{
    position: fixed;
    left: 95%;
    width: 105%;
    height: 175px;
    background: #d7dee0;
    background: linear-gradient(72deg, rgba(215, 222, 224, 1) 0%, rgba(165, 184, 172, 1) 50%, rgba(138, 122, 117, 1) 100%);
    top: 25px;
    border-radius: 15px;
    padding: 20px 30px;
    border: 2px 6px solid antiquewhite;
}
.menu:hover{
    transition: 1s;
    width: 100%;
    left: 200px;
}
.ma{
    background: #7AAD72;
    border-radius: 25px;
    border: 5px solid #AAC263;
    padding: 8px;
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
.ma:hover{
    background: #AAC263;
    border: 5px solid #7AAD72;
    transition: 1s;
}
.third p{
    color: whitesmoke;
}
.third img{
    width: 150px;
    height: 150px;
}
.third img:hover{
    transition: 1s;
    border:  2px solid whitesmoke;
    width: 600px;
    height: 600px
}
.img_div{
    padding: 5px;
    color: gold;
    background: goldenrod;
    justify-content: center;
}
.litle{
    font-size: 9px;
}
.first p{
    color: whitesmoke; 
}
.img_div .a{
    height: 200px;
    width: 150px;
}
.img_div .a:hover{
    height: 750px;
    width: 600px;
}
.img_div .d{
    height: 150px;
    width: 300px;
}
.img_div .d:hover{
    height: 600px;
    width: 800px;
}
.ol_li{
    text-align: left;
}
.menu h2{
    color: goldenrod;
    text-decoration: underline dotted gold ;
}